modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
VITE_FIREBASE_AUTH_DOMAIN = "dzt24-8ea60.firebaseapp.com"
VITE_FIREBASE_DATABASE_URL = "https://dzt24-8ea60-default-rtdb.firebaseio.com"
VITE_FIREBASE_PROJECT_ID = "dzt24-8ea60"
VITE_FIREBASE_STORAGE_BUCKET = "dzt24-8ea60.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "818328713698"
VITE_FIREBASE_APP_ID = "1:818328713698:web:0eaa497f53b2968dcee1bb"
VITE_FIREBASE_MEASUREMENT_ID = "G-SV14E2SMDM"
